<title>Code Blog</title>
<div class="home">
    <img src="https://image.freepik.com/free-vector/blogging-concept-illustration_114360-1038.jpg" alt="">
    <h3 id="home-text">Read and Write an Awesome Blog <br><span id="home-font"><a href="/blogs">Read Now</a></span></h3>
</div>